<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EcomProject</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Catalogue</display-name>
    <servlet-name>Catalogue</servlet-name>
    <servlet-class>controllers.Catalogue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogue</servlet-name>
    <url-pattern>/Catalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Articles</display-name>
    <servlet-name>Articles</servlet-name>
    <servlet-class>controllers.Articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles</servlet-name>
    <url-pattern>/Articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Catalogues</display-name>
    <servlet-name>Catalogues</servlet-name>
    <servlet-class>controllers.Catalogues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogues</servlet-name>
    <url-pattern>/Catalogues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDetails</display-name>
    <servlet-name>ArticleDetails</servlet-name>
    <servlet-class>controllers.ArticleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDetails</servlet-name>
    <url-pattern>/ArticleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingnUp</display-name>
    <servlet-name>SingnUp</servlet-name>
    <servlet-class>controllers.SingnUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingnUp</servlet-name>
    <url-pattern>/SingnUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>controllers.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
</web-app>